[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcmdrPlugin.RiskDemo"]
	path = RcmdrPlugin.RiskDemo
	url = https://github.com/cran/RcmdrPlugin.RiskDemo
